@import "../variables";


button.btn {
	border-radius: $btn-border-radius;
	box-shadow: rgba(75, 75, 75, 0.11) 0px 1px 6px, rgba(75, 75, 75, 0.11) 0px 1px 4px;
	color: $btn-default-color;
	cursor: pointer;
	text-decoration: none;
	outline: none !important;
	transform: translate3d(0px, 0px, 0px);
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	background: $btn-primary-bg;
	transition: $button-transition;
	text-transform: uppercase;
	&:hover {
		color: $btn-primary-color-hover;
		background: $btn-primary-bg-hover;

	}

	&--homepage {
		text-transform: uppercase;
		font-weight: 200;
		background-color: white;
		color: $btn-primary-bg-hover;
		padding: 0 40px;
		line-height: 44px;
		border-radius: 500px;
		&:hover{
			background: white;
			color: $btn-primary-bg-hover;
		}
	}
}

button.btn-link {
	color: $link-color;
	box-shadow: none !important;
	&.btn-link-active {
		color: $link-color-secondary;
		&:hover {
			color: $link-color-secondary;

		}
	}
}
button.btn-link:hover {
	color: $link-color;
	background-color: transparent !important;
	text-decoration: none;
}

button.btn-link-secondary {
	color: $link-color-secondary;
}
